[Desktop Entry]
Name=AniCli
Comment=Watch anime from the terminal
Exec=alacritty -e ani-cli
Icon=sakamoto
Terminal=false
Type=Application
Categories=Scripts;Entertainment;Video;
